server:
  port: ${SERVER_PORT:4000}

spring:
  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:localhost:29092}
    consumer:
      group-id: ${SPRING_KAFKA_CONSUMER_GROUP_ID:grading-consumer-group}

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/softwarebackendDb}
    username: ${SPRING_DATASOURCE_USERNAME:admin-user}
    password: ${SPRING_DATASOURCE_PASSWORD:password}
    driver-class-name: ${SPRING_DATASOURCE_DRIVER_CLASS_NAME:org.postgresql.Driver}

  jpa:
    hibernate:
      ddl-auto: update
  sql:
    init:
      mode: always

app:
  kafka:
    topic: ${APP_KAFKA_TOPIC:code-submissions}
    dlq-topic: ${APP_KAFKA_DLQ_TOPIC:code-submissions-dlq}
  otp:
    expiry:
      minutes: ${APP_OTP_EXPIRY_MINUTES:2}
  account:
    lock:
      duration:
        minutes: ${APP_ACCOUNT_LOCK_DURATION_MINUTES:30}
      max-failed-attempts: ${APP_ACCOUNT_MAX_FAILED_ATTEMPTS:5}

jwt:
  secret:
    key: ${JWT_SECRET_KEY:dGhpcyBpcyBhIHNlY3VyZSBzZWNyZXQga2V5IGZvciBqd3QgdG9rZW4gZ2VuZXJhdGlvbiBhbmQgdmFsaWRhdGlvbg==}
  expiration:
    time: ${JWT_EXPIRATION_TIME:86400000}
