# ============ SPRING BOOT SETTINGS ============
SERVER_PORT=4000

# ============ DATABASE CONFIG ============
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/softwarebackendDb
SPRING_DATASOURCE_USERNAME=admin-user
SPRING_DATASOURCE_PASSWORD=password
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver

# ============ KAFKA CONFIG ============
SPRING_KAFKA_BOOTSTRAP_SERVERS=localhost:29092
SPRING_KAFKA_CONSUMER_GROUP_ID=grading-consumer-group

# ============ APP CONFIG ============
APP_KAFKA_TOPIC=code-submissions
APP_KAFKA_DLQ_TOPIC=code-submissions-dlq


# ============ SPRING PROFILES ============
SPRING_PROFILES_ACTIVE=prod

GOOGLE_API_KEY=AIzaSyDJXFEPjD4-RlUUC7O3lEtjv0njLPzQno0

# ============ JWT CONFIG ============
JWT_SECRET_KEY=8a8d9211c23374eee7ce858bac93322cd36c1e4fbc168af8679b92e22687cad3
JWT_EXPIRATION_TIME=86400000# 1 day in milliseconds

# ============ OTP CONFIG ============
APP_OTP_EXPIRY_MINUTES=2
# ============ ACCOUNT LOCK CONFIG ============
APP_ACCOUNT_LOCK_DURATION_MINUTES=2
APP_ACCOUNT_MAX_FAILED_ATTEMPTS=3